@import "../var.scss";

.about {
  margin: 0px $margin-horizontal-mobile;
}

.about__header {
  margin-bottom: 30px;
}

// .about__list {
//   display: flex;
//   // flex: 1 1 0px;
//   flex-direction: column;
//   flex-wrap: wrap;
//   height: 700px;
// }

.about__item {
  // overflow: hidden;
  // box-sizing: border-box;
  // width: 19em;
  // width: 45%;
  margin: 15px 0;
}

.about__item-image {
  // display: none;
  margin-bottom: 10px;
}

.about__item-image {
  fill: $seafoam-blue;
}

@media (min-width: $tablet-min-width) {
  .about {
    margin: 0 $margin-horizontal-tablet;
  }

  .about__header {
    margin-bottom: 45px;
  }

  .about__item {
    width: 45%;
  }

  .about__list {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  $n: 3;
  @for $i from 1 through $n {
    .about__item:nth-child(#{$n}n+#{$i}) {
      order: #{$i};
    }
  }
}
