@import "../zig-zag-line.scss";

.about {
  @include zig-zag-line();
}

.about__wrapper {
  margin: 34px 0 60px;

  @include tablet {
    margin: 60px 0 80px;
  }

  @include desktop {
    margin: 70px 0 90px;
  }
}

.about__header {
  margin-bottom: 30px;

  @include tablet {
    margin-bottom: 17px;
  }
}

.about__list {
  max-width: 800px;

  @include tablet {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

$icon-list: (flower: (32px 37px), money: (47px 27px), heart: (33px 28px),
  ball: (34px 34px), rocket: (54px 23px), gift: (33px 32px));

$icon-sizes: map-values($icon-list);
$side-values-list: zip($icon-sizes...);
$width-values: nth($side-values-list, 1);
$height-values: nth($side-values-list, 2);
$max-width: max($width-values...);
$max-height: max($height-values...);

@mixin background($name) {
  $sizes: map-get($icon-list, $name);
  $width: nth($sizes, 1);
  $height: nth($sizes, 2);

  background-position: ($max-width - $width) / 2 ($max-height - $height) / 2;
  background-size: $sizes;
}

.about__item {
  margin-top: 30px;
  padding-top: 55px;
  background-repeat: no-repeat;

  &--icon-flower {
    background-image: url("../img/icon-feature-flower.svg");
    @include background(flower);
  }

  &--icon-money {
    background-image: url("../img/icon-feature-money.svg");
    @include background(money);
  }

  &--icon-heart {
    background-image: url("../img/icon-feature-heart.svg");
    @include background(heart);
  }

  &--icon-ball {
    background-image: url("../img/icon-feature-ball.svg");
    @include background(ball);
  }

  &--icon-rocket {
    background-image: url("../img/icon-feature-rocket.svg");
    @include background(rocket);
  }

  &--icon-gift {
    background-image: url("../img/icon-feature-gift.svg");
    @include background(gift);
  }

  $n: 3;

  &:nth-of-type(-n+#{$n}) {
    width: 200px;

    @include tablet {
      width: 235px;
    }
  }

  &:nth-last-of-type(-n+#{$n}) {
    width: 251px;

    @include tablet {
      width: 295px;
      margin-right: 40px;
    }
  }

  @include tablet {
    margin-top: 57px;

    &:nth-child(#{$n}n+1) {
      order: 1;
    }

    &:nth-child(#{$n}n+2) {
      order: 2;
    }

    &:nth-child(#{$n}n+3) {
      order: 3;
    }
  }
}
