@import "../var.scss";
@import "../zig-zag-line.scss";

.about {
  @include zig-zag-line();
}

.about__header {
  margin-bottom: 30px;
}

// $icon-list: flower, money, heart, ball, rocket, gift;
$icon-list: (flower: (32, 37), money: (47, 27), heart: (33, 28), ball: (34, 34), rocket: (54, 23), gift: (33, 32));

@each $icon, $sizes in $icon-list {
  .about__item--icon-#{$icon} {
    @include insert-icon(before) {
      $path: "../img/icon-feature-#{$icon}.svg";
      background-image: url($path);
      width: nth($sizes, 1) * 1px;
      height: nth($sizes, 2) * 1px;
    }
  }
}

.about__item {
  margin: 15px 0;
}

.about__item-image {
  margin-bottom: 10px;
}

@media (min-width: $tablet-min-width) {
  .about__header {
    margin-bottom: 45px;
  }

  .about__list {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    // align-items: center;
  }

  .about__item {
    width: 45%;
    min-width: 16em;
  }

  $n: 3;

  @for $i from 1 through $n {
    .about__item:nth-child(#{$n}n+#{$i}) {
      order: #{$i};
    }
  }

  $margin-in-between: 2%;

  .about__item:nth-of-type(-n+#{$n}) {
    margin-right: $margin-in-between;
  }

  .about__item:nth-last-of-type(-n+#{$n}) {
    margin-left: $margin-in-between;
  }
}
