@import "../var.scss";
@import "../utils.scss";

$video-btn-width: 101px;
$video-btn-height: 77px;
$border-width: 1px;

.catalog__list {
  margin-bottom: 30px;
}

.catalog__order-btn {
  width: 100%;
}

.catalog__item-name {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--video {
    display: flex;
    align-items: center;
    margin: 30px 34px 26px;

    @include insert-icon(before, inline-block) {
      width: 32px;
      flex-shrink: 0;
      height: 32px;
      margin-right: 25px;
      background-image: url("../../img/icon-video.svg");
    }
  }
}

.catalog__video-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  // flex-shrink: 1;
  // height: 100%;
  // width: 100%;
}

.catalog__video-btn {
  position: absolute;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.catalog__item {
  margin: 30px 0;
  border: solid $border-width $white-two;

  &:hover {
    box-shadow: 0 6px 10px 0 $black-10;
  }

  &:active {
    box-shadow: 0 3px 5px 0 $black-10;
  }
}

.catalog__item-info {
  padding: 30px 28px;
  // border: solid $border-width $white-two;
}

.catalog__video-info {

  padding: 34px;
}

.catalog__description {
  margin: 0 0 27px;
}

.catalog__price-wrapper {
  border-top: solid;
  border-top-width: $border-width;
  border-top-color: $white-two;
  padding-top: 27px;
  // width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__icon-cart {
  opacity: 0.2;

  &:hover {
    opacity: 1;
    fill: $seafoam-blue;
  }

  &:active {
    opacity: 0.3;
    fill: $seafoam-blue;
  }
}

@media (max-width: $tablet-min-width - 1) {
  .catalog__picture {
    width: 100%;

    & img {
      width: 100%;
    }
  }

  .catalog__list {
    margin: 0 calc((100vw - 320px) / 4) 30px;
  }
}

@media (max-width: $desktop-min-width - 1) and (min-width: $tablet-min-width) {
  .catalog__picture {
    width: 100%;

    & img {
      width: 100%;
    }
  }
}

@media (min-width: $tablet-min-width) {
  .catalog__list {
    width: 100%;
  }

  .catalog__picture-wrapper {
    width: 50%;
  }

  .catalog__item {
    margin: 52px 0;
    display: flex;

    &--video {
      height: 100%;
      flex-direction: column;
      $ordered-list: video-container, item-name, video-info;

      @for $order from 1 through length($ordered-list) {
        $item: nth($ordered-list, $order);

        .catalog__#{$item} {
          order: $order;
        }
      }
    }
  }

  .catalog__item-info {
    padding: 29px 34px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
  }

  .catalog__description {
    margin: 15px 0;
  }

  .catalog__video-info {
    padding: 40px 42px 46px;
  }

  .catalog__price-wrapper {
    margin-bottom: 2px;
  }
}

$video-info-padding-left: 80px;
$video-info-padding-right: 57px;
$video-image-width: 682px;
$casual-image-width: 316px;
$base-free-space: $desktop-min-width - $video-image-width - 2 * $margin-horizontal-tablet - 2 * $border-width;
$desktop-model-width: 1150px;
$video-info-width: $desktop-model-width - $video-image-width - 2 * $margin-horizontal-desktop - 2 * $border-width;
$video-info-margin-left: 80px / $desktop-model-width;
$video-info-margin-right: 57px / $desktop-model-width;
$video-info-margin-top: 47px / $desktop-model-width;
$video-item-width: $desktop-model-width - 2 * $margin-horizontal-desktop;

$margin-right-1: percentage(57px / $video-item-width);
$margin-left-1: percentage(47px / $video-item-width);

$margin-right:  floor($video-info-margin-right * 100vw);
$margin-left: round($video-info-margin-left * 100vw);

@media (min-width: $desktop-min-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item-info {
    width: #{$casual-image-width - 60px};
    padding: 0;
  }

  .catalog__item {
    margin: 26px 0;

    &--casual {
      height: auto;
      flex-basis: $casual-image-width;
      flex-direction: column;
    }

    &--video {
      flex-grow: 1;
      flex-basis: 100%;
      flex-wrap: wrap;
      height: 455px;
      justify-content: space-around;
    }
  }

  .catalog__item-name {
    &--video {
      &::before {
        display: block;
        margin-bottom: 20px;
        padding: 0;
        margin-top: round($video-info-margin-top * 50vw);
      }
      margin-top: 45px;
      margin-left: $video-info-padding-left;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .catalog__video-info {
    padding: 0;
    margin-top: 5px;
  }

  .catalog__video-info,
  .catalog__item-name--video {
    margin-right: $margin-right-1;
    margin-left: $margin-left-1;
    width: calc(100% - (#{$video-image-width} + #{$margin-right + $margin-left}));
  }
}

// @media (min-width: $desktop-min-width) {
//   .catalog__video-info {
//     margin-left: $margin-left;
//   }
// }
