@import "../var.scss";
@import "../button-utils.scss";

@mixin edges($width, $height: $width) {
  width: $width;
  height: $height;
}

.checkbox {
  @include selection-button-styles();
  margin: 0 0 22px;
}

.checkbox__shell {
  @include shell();
  @include edges(40px, $checkbox-height-mobile);
}

.checkbox__input:checked ~ .checkbox__shell {
  background: url("../../img/icon-tick.svg") no-repeat center;
  background-size: 22px 16px;
}

@media (min-width: $tablet-min-width) {
  .checkbox {
    margin: 0 0 24px;
  }

  .checkbox__shell {
    @include edges(54px, $checkbox-height);
  }

  .checkbox__input:checked ~ .checkbox__shell {
    background-size: 33px 23px;
  }
}
