.contacts {
  @include zig-zag-line();
}

.contacts__wrapper {
  margin: 44px 0 39px;

  @include tablet {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 72px 0 57px;
  }

  @include desktop {
    height: 457px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.contacts__icon-flag {
  display: none;

  @include tablet {
    display: inline;
  }

  @include desktop {
    order: 1;
    height: 100%;
    align-self: center;
  }
}

.contacts__list {
  margin: 21px 0;

  @include tablet {
    margin-bottom: 40px;
    margin-right: 40px;
    flex-basis: 100%;
  }

  @include desktop {
    margin: auto 0;
    flex-basis: auto;
    order: 3;
  }
}

.contacts__email {
  padding-bottom: 4px;
  border-bottom-width: 1px;
  border-bottom-color: $seafoam-blue-two;
}

.contacts__map {
  margin: 0 (-$margin-horizontal-mobile);

  @include tablet {
    margin: 0 (-$margin-horizontal-tablet);
  }

  @include desktop {
    margin: 0;
    margin-left: percentage(53px / (1150px - 2 * $margin-horizontal-desktop));
    order: 5;
  }
}

.contacts__write-btn {
  margin: 39px 0;

  @include tablet {
    width: 230px;
    margin: 55px auto 0;
  }

  @include desktop {
    order: 4;
    margin: 20px 0 0;
  }
}

.contacts__top-indent {
  margin-top: 62px;
}

.contacts__header-wrapper {
  height: 81px;
  display: flex;
  align-items: center;
  order: 2;
}
