@import "../var.scss";
@import "../utils.scss";

.form {
  margin-top: 29px;
}

.form__label {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.form__group {
  margin-top: 34px;

  &--with-icon {
    position: relative;
  }
}

.form__legend {
  display: flex;
  align-items: center;

  &::after {
    content: "";
    margin-left: 20px;
    display: inline-block;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: $seafoam-blue;
    flex-grow: 1;
  }
}

.form__icon {
  position: absolute;
  opacity: 0.2;

  &--tel {
    right: 8px;
    bottom: 17px;
  }

  &--email {
    right: 4px;
    bottom: 15px;
  }
}

.form__input {
  box-shadow: inset 0 -2px 0 0 $black;
  height: $input-field-height;
  box-sizing: border-box;
  width: 100%;

  &:hover,
  &:active {
    box-shadow: inset 0 -2px 0 0 $seafoam-blue-two;

    & ~ .form__icon {
      opacity: 1;
      fill: $seafoam-blue-two;
    }
  }
}

.form__textarea {
  border: solid 2px $black-44;
  height: 142px;
  width: 100%;
  margin-top: 23px;

  &:hover,
  &:active {
    border-color: $seafoam-blue-two;
  }
}

.form__column-item {
  &:not(:first-child) {
    margin-top: 24px;
  }
  width: 100%;
}

.form__submission {
  margin-top: 18px;
  margin-bottom: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__note {
  margin-bottom: 31px;
}

.form__column-container {
  margin-top: 33px;
}

.form__fieldlist {
  margin-top: 23px;
}

.form__column-of-types {
  margin-top: 27px;
}

.form__checkbox-option {
  margin-bottom: 22px;

  @include tablet {
    margin-bottom: 24px;
  }
}

.form__radio-option {
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 23px;
  }
}

@media (min-width: $tablet-min-width) {
  .form {
    margin-top: 80px;
  }

  .form__column-container {
    margin-top: 0;
    width: 100%;
  }

  .form__fieldlist {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .form__column-of-types {
    margin-top: 0;
  }

  .form__submission {
    margin-top: 0;
    flex-direction: row-reverse;
  }

  .form__group {
    border-style: none;
    display: flex;
    align-items: flex-start;
  }

  .form__list-item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 45%;
  }

  .form__column-item {
    &:not(:first-child) {
      margin-top: 41px;
    }
  }

  .form__label {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .form__legend {
    margin-top: 19px;
    width: 167px;
    flex-shrink: 0;

    &::after {
      content: none;
    }
  }

  .form__input {
    margin-left: 26px;

    &--tel {
      margin-left: 0;
    }

    &--email {
      margin-left: 0;
    }
  }

  .form__group-wrapper {
    padding: 50px 0;

    &--2 {
      background-color: $white;
      box-shadow: $margin-horizontal-tablet 0 $white, -$margin-horizontal-tablet 0 $white;

      & .form__input {
        background-color: $white;
      }
    }
  }

  .form__icon {
    &--tel {
      right: 26px;
    }

    &--email {
      right: 22px;
    }
  }
}

@media (min-width: $desktop-min-width) {
  .form__list-item {
    flex-basis: 30%;
  }

  .form__description {
    display: flex;

    &::after {
      content: "";
      display: inline-block;
      width: 250px;
    }
  }

  .form__icon {
    &--tel {
      right: 8px;
    }

    &--email {
      right: 4px;
    }
  }
}
