@import "../var.scss";

.ghost-btn {
  display: block;

  // display: flex;
  // align-items: center;
  // justify-content: center;
  background-color: $white-three;
  border: 2px solid $black-44;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 259px;
  height: 52px;
  max-width: 100%;

  &::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  &:hover {
    background-color: $black-44;
    color: $white-three;
  }

  &:active {
    background-color: $black-44;
    color: $white-30;
  }
}

@media (min-width: $tablet-min-width) {
  .ghost-btn {
    width: 292px;
  }
}
