@import "../var.scss";
@import "../utils.scss";

$logo-width-mobile: 86px;
$logo-width-tablet: 112px;
$logo-width-desktop: 150px;

@mixin width-half-of-space($logo-width, $margin) {
  width: calc((100% - #{$logo-width}) / 2 - #{$margin});
}

@mixin half-of-space-versioned($screen, $margin-side: false) {
  $logo: $logo-width-mobile;
  $margin: $margin-horizontal-mobile;

  @if $screen == tablet {
    $logo: $logo-width-tablet;
    $margin: $margin-horizontal-tablet;
  } @else if $screen == desktop {
    $logo: $logo-width-desktop;
    $margin: $margin-horizontal-desktop;
  } @else if $screen != mobile {
    @error "undefined screen size/version: #{$screen}";
  }

  @include width-half-of-space($logo, $margin);
  @if $margin-side {
    margin-#{$margin-side}: $margin;
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  &:before {
    content: "";
    @include half-of-space-versioned(mobile, left);
  }
}

.main-nav__dropbtn-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include half-of-space-versioned(mobile, right);
}

.main-nav__dropbtn {
  width: 21px;
  height: 21px;
}

.main-nav__item {
  width: 98vw;
}

@mixin border($sides...) {
  @each $side in $sides {
    border-#{$side}: 1px solid;
  }
  border-color: $delimiter-color;
}

.main-nav__item--bot-bordered {
  @include border(bottom);
}

.main-nav__item--horizontally-bordered {
  @include border(top, bottom);
}

.main-nav__logo {
  padding: 10px 0;
}

.main-nav__desktop-show {
  display: none;
}

.main-nav__desktop-show {
  display: none;
}

@media (max-width: $mobile-max-width) {
  .main-nav__mobile-hide {
    display: none;
  }

  .main-nav__mobile-toggle {
    display: none;
  }
}

.main-nav__prepend-icon-1, .main-nav__prepend-icon-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 50px;
}

.main-nav__link-container {
  display: flex;
  text-decoration: none;
  padding: 14px 6px;
  margin: 2px 0;
}

.main-nav__header-text {
  width: 244px;
  height: 87px;
}

@media (min-width: $tablet-min-width) {
  .main-nav__group {
    display: flex;
  }

  .main-nav__search-text {
    display: none;
  }

  .main-nav__link-container--search {
    @include border(right, left);
  }

  .main-nav__list {
    justify-content: space-between;

    &::before {
      content: none;
    }
  }

  .main-nav__prepend-icon-1 {
    display: none;
  }

  .main-nav__prepend-icon-2 {
    width: 82px;

    // &--search {
    //   @include border(right, left);
    // }
  }

  .main-nav__item--bot-bordered, .main-nav__item--horizontally-bordered {
    border: 0;
  }

  .main-nav__dropbtn-wrapper {
    display: none;
  }

  .main-nav__item {
    width: auto;
    // flex-basis: 200px;
  }

  .manin-nav__group--end {
    justify-content: flex-end;
  }

  $ordered-menu: 1, 3, 2, 5;
  @for $order from 1 through length($ordered-menu) {
    $group: nth($ordered-menu, $order);

    .main-nav__group-#{$group} {
      order: $order;

      @if $group != 1 {
        flex-grow: 1;
      } @else {
        flex-shrink: 1;
      }

      @if $group == 3  {
        min-width: 50vw;
      }
    }
  }
}

@media (min-width: $desktop-min-width) {

  $ordered-menu: 2, 1, 3, 4, 5;
  @for $order from 1 through length($ordered-menu) {
    $group: nth($ordered-menu, $order);

    .main-nav__group-#{$group} {
      order: $order;

      @if $group == 2 or $group == 3 {
        // min-width: calc(50% - 75px);
        // min-width: calc((90vw - 150px) / 2);
        // @include width-half-of-space(150px, 50px);
        // min-width: calc((100% - 150px) / 2);
        @include half-of-space-versioned(desktop);
      }

      @if $group == 1 {
        margin: auto;
      }
    }
  }
}
