$first-line-height-mobile: 79px;
$first-line-height-tablet: 88px;
$first-line-height-desktop: $first-line-height-tablet;

.main-nav {
  background-color: $white-three;

  @include tablet {
    margin: 0 $margin-horizontal-tablet;
  }

  @include desktop {
    margin: 0 $margin-horizontal-desktop;
  }
}

.main-nav__item {
  display: flex;
  align-items: center;
  height: $first-line-height-mobile;

  &--bot-bordered {
    @include border(bottom);

    @include tablet {
      border-style: none;
    }
  }

  &--horizontally-bordered {
    @include border(top);
    @include border(bottom);

    @include tablet {
      border-style: none;
    }
  }
}

.main-nav__logo {
  margin-left: calc((100% - 80px) / 2);

  @include tablet {
    margin-left: 0;
    margin-right: calc(50% - 88px - 50px);
  }

  @include desktop {
    margin: auto;
  }
}

.main-nav__list {
  @include flex-wrap;
  justify-content: space-between;
}

.main-nav__dropbtn-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: $margin-horizontal-mobile;

  @include tablet {
    display: none;
  }
}

.main-nav__unit {
  display: flex;
  flex-wrap: wrap;

  @include tablet {
    & .main-nav__item {
      height: 100%;
    }
  }

  &--tablet-first {
    @include tablet {
      height: $first-line-height-tablet;
    }
  }

  &--tablet-second {
    @include tablet {
      height: $menu-second-line-height-tablet;
    }
  }

  &--desktop-first {
    @include desktop {
      height: $first-line-height-desktop;
    }
  }

  &--desktop-second {
    @include desktop {
      height: $menu-second-line-height-tablet;
    }
  }
}

.main-nav__catalog {
  @include tablet {
    margin-right: 37px;
  }

  @include desktop {
    margin-right: 35px;
    padding-right: 35px;
    @include border(right);
  }
}

.main-nav__knitting {
  @include desktop {
    margin-left: 35px;
  }
}

.main-nav__new {
  @include desktop {
    width: 185px;
    margin-right: 35px;
  }
}

.main-nav__delivery {
  display: none;

  @include tablet {
    display: block;
  }
}

.main-nav__main-group {
  width: 100%;

  & .main-nav__item {
    width: 100%;
  }

  @include tablet {
    width: auto;

    & .main-nav__item {
      width: auto;
    }
  }
}

.main-nav__group-1 {
  @include tablet {
    order: 1;
  }

  @include desktop {
    order: 2;
  }
}

.main-nav__group-2 {
  @include tablet {
    order: 3;
  }

  @include desktop {
    order: 1;
  }
}

.main-nav__group-3 {
  @include tablet {
    order: 2;
  }

  @include desktop {
    margin-left: 27.5px;
    order: 3;
  }
}

.main-nav__group-4 {
  display: none;

  @include desktop {
    flex-basis: calc(100% - 400px);
    display: block;
    order: 4;
  }
}

.main-nav__group-5 {
  @include tablet {
    order: 4;
  }

  @include desktop {
    order: 5;
  }
}
