@import "../var.scss";
@import "../utils.scss";

$vertical-indent-mobile: -17px;

.page-main__header-text {
  height: 100%;
  box-sizing: border-box;
}

.page-main__index-header-text {
  padding-top: 93px;
}

.page-main__casual-header {
  height: 277px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
}

.page-main__index-header {
  // width: 322px;
  height: 373px;
  background-image: url("../../img/hero-mobile@1x.jpg");
  // background-size: contain;
  background-position: center $vertical-indent-mobile;
  background-color: #F9F9F9;
  background-repeat: no-repeat;

  // margin-bottom: -50px + $vertical-indent-mobile;
  margin-bottom: -73px;
}

.page-main__catalog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1 1 0px;
  justify-content: center;
}

@media (min-width: $tablet-min-width) {
  .page-main__catalog {
    padding: 0 $margin-horizontal-tablet;
  }

  .page-main__index-header {
    height: 746px;
    margin-top: -$menu-second-line-height-tablet;
    background-image: url("../../img/hero-tablet@1x.jpg");
    background-position: center;
    margin-bottom: -$green-btn-height-tablet;
    @include insert-icon(after,
      (display: block,
        height: calc(24px + (100vw - 770px) / 38),
        // height: calc(34px * 1150px/(100vw)),
        transform: translateY(-50%),
        img: "../../img/bg-zigzag-fill.svg",
        background-size: contain,
        repeat: repeat-x,
        background-position: center
    ), ());
    // &::after {
    //   content: "";
    //   background-image: url("../../img/bg-zigzag-fill.svg");
    //   background-repeat: repeat;
    //   height: 24px + (100vw - 770px) / 38;
    //   background-size: contain;
    //   display: block;
    //   transform: translateY(-50%);
    // }
  }

  .page-main__index-header-text {
    padding-top: 161px;
  }
}

@media (min-width: $desktop-min-width) {
  .page-main__index-header {
    margin-top: -$menu-second-line-height-desktop;
    background-image: url("../../img/hero-desktop@1x.jpg");
  }
}
