@import "../var.scss";
@import "../utils.scss";

$field-width: 50%;
$no-columns: 1;
$value-width: (100% - $field-width) / $no-columns;

$image-height: 404px;
$headline-height: 60px;
$headline-margin-bottom: 20px;
$height: $image-height + $headline-height + $headline-margin-bottom + 5px;

.popular {
  margin: 34px $margin-horizontal-mobile;
  display: flex;
  flex-flow: column wrap;
  // @include insert-icon(after, (width: 100%, height: 6px, transform: transte))
  // height: 750px;
}

// .popular__item {
//   display: flex;
// }

.popular__header {
  margin: 0;
  white-space: nowrap;
  // z-index: 1;
}

.popular__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  // align-items: center;
  height: 92px;
  margin-bottom: 42px;
}

.popular__list-cols {
  display: flex;
  flex-direction: column;
}

.popular__list-item {
  display: flex;
  flex-grow: 1;
  align-items: center;
  border-bottom: 1px solid;
  border-color: rgb(224, 233, 207);
}

.popular__list-cols--not-last .popular__list-item {
  padding-right: 30px;
}

.popular__list-cols--last {
  width: 100%;
}

.popular__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popular__title {
  padding-bottom: 30px;
}

@media (min-width: $tablet-min-width) {
  .popular {
    margin: 55px $margin-horizontal-tablet;
    height: $height;
    align-content: space-between;
  }

  .popular__column {
    width: 45%;
  }
  .popular__headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: $headline-height;
    margin-bottom: 20px;
  }

  $ordered-items: header, description, list-wrapper, order, separator, title, image;

  @for $order from 1 through length($ordered-items) {
    $item: nth($ordered-items, $order);

    .popular__#{$item} {
      order: $order;
      @if $item == title {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 0px;
      }
    }
  }
}

@media (min-width: $desktop-min-width) {
  .popular {
    margin: 55px $margin-horizontal-desktop 70px;
    height: 636px;
  }

  .popular__title {
    justify-content: start;
    order: -1;
    height: 100%;
    width: 10vw;
  }

  // .popular__header, .popular__info, .popular__order {
  //   width: 25vw;
  // }
  .popular__column {
    width: 25vw;
  }

  .popular__headline {
    height: $headline-height + $indent-vertical-index-desktop;
    &::before {
      content: "";
      display: inline-block;
      height: $indent-vertical-index-desktop;
    }
  }

  .popular__image {
    z-index: -1;
  }
}

// @media (min-width: $tablet-min-width) {
//   .popular__list {
//     margin-bottom: 73px;
//   }
// }

// @media (min-width: $desktop-min-width) {
//   .popular__list {
//     margin-bottom: 127px;
//   }
// }
