$headline-height: 60px;

.popular {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  @include tablet {
    justify-content: flex-start;
    height: 404px + $headline-height + 20px;
    align-content: space-between;
    flex-wrap: wrap-reverse;
    width: auto;
  }

  @include desktop {
    height: 636px;
    align-content: center;
  }
}

.popular__header {
  margin: 0;
  white-space: nowrap;
}

.popular__list {
  margin: 33px 0 42px;
}

.popular__title {
  padding-bottom: 30px;

  @include tablet {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0;
    order: 1;
  }

  @include desktop {
    justify-content: start;
    height: 100%;
    order: 6;
  }
}

.popular__image {
  width: 100%;
}

.popular__order {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 29px;
}

.popular__order-price {
  margin-bottom: 28px;

  @include tablet {
    margin-bottom: 34px;
  }
}

.popular__headline {
  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: $headline-height;
    margin-bottom: 20px;
  }

  @include desktop {
    height: $headline-height + $indent-vertical-index-desktop;

    &::before {
      content: "";
      display: inline-block;
      height: $indent-vertical-index-desktop;
    }
  }
}

.popular__image-wrapper {
  @include desktop {
    margin-left: auto;
    z-index: -1;
  }
}

@include tablet {
  .popular__image-wrapper {
    order: 2;
  }

  .popular__header {
    order: 3;
  }

  .popular__description {
    order: 4;
  }

  .popular__list,
  .popular__order {
    margin: 0;
    margin-top: auto;
    order: 5;
  }
}
