@import "../var.scss";
@import "../button-utils.scss";

$shell-diameter-mobile: $radio-btn-height-mobile;
$shell-diameter: $radi0-btn-height;
$checkmark-diameter-mobile: 16px;
$checkmark-diameter: 22px;

@mixin diameter($diameter) {
  width: $diameter;
  min-width: $diameter;
  height: $diameter;
}

@mixin centered($parent-diameter, $diameter, $is-border-box: true) {
  $offset: ($parent-diameter / 2 - $diameter / 2)
    - if($is-border-box, $button-border-width, 0);
  padding: $offset;
}

.radio-btn {
  @include selection-button-styles();
  margin: 0 0 20px;
}

.radio-btn__shell {
  @include shell();
  @include diameter($shell-diameter-mobile);
  @include centered($shell-diameter-mobile, $checkmark-diameter-mobile);

  border-radius: 50%;

  &::before {
    content: none;
    display: inline-block;

    @include diameter($checkmark-diameter-mobile);
    background-color: $seafoam-blue-two;
    border-radius: 50%;
  }
}

.radio-btn__input:checked ~ .radio-btn__shell::before {
  content: "";
}

@media (min-width: $tablet-min-width) {
  .radio-btn {
    margin: 0 0 23px;
  }

  .radio-btn__shell {
    @include diameter($shell-diameter);
    @include centered($shell-diameter, $checkmark-diameter);

    &::before {
      @include diameter($checkmark-diameter);
    }
  }
}
