@import "../var.scss";
@import "../utils.scss";

.reviews {
  @include tablet {
    height: 457px;
    background-image: url("../../img/review@1x.jpg");
    background-repeat: no-repeat;
  }
}

.reviews__wrapper {
  height: 100%;
  margin: 30px 0;

  @include only-tablet {
    margin-left: $margin-horizontal-tablet;
  }

  @include tablet {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-top: 11px;
  }
}

.reviews__author {
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include tablet {
    order: 4;
  }
}

.reviews__arrows {
  display: flex;
  width: 260px;
  margin: 36px 0 38px;

  @include tablet {
    width: 137px;
    justify-content: space-between;
    margin: auto 20px;
    order: 5;
  }
}

.reviews__comment {
  margin: 40px 0;

  @include tablet {
    margin: 65px 0 68px;
    order: 3;
  }

  @include desktop {
    margin: 64px 0 49px;
  }
}

.reviews__arrow {
  $arrow-height: 52px;
  $arrow-border-width: 1px;
  $arrow-padding-vertical: ($arrow-height - 26px - 2 * $arrow-border-width) / 2;

  width: 50%;
  border: solid 1px $white-two;
  height: $arrow-height;
  padding: $arrow-padding-vertical 0;
  box-sizing: border-box;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet {
    width: 50px;
    padding: 0;
    border: none;
    height: 100%;
    box-sizing: content-box;
  }
}

.reviews__header {
  @include tablet {
    order: 1;
  }
}

.reviews__write {
  @include tablet {
    width: 175px;
    order: 2;
  }
}
