@import "../var.scss";
@import "../utils.scss";

.reviews {
  margin: 60px 0 45px;
}

.reviews__wrapper {
  height: 100%;
  margin: 30px 0;
}

.reviews__author {
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviews__arrows {
  display: flex;
  width: 260px;
  margin: 36px 0 38px;
}

.reviews__comment {
  margin: 40px 0;
}

$arrow-height: 52px;
$arrow-image-height: 26px;
$arrow-border-width: 1px;
$arrow-padding-vertical-total: $arrow-height - $arrow-image-height - 2 * $arrow-border-width;
$arrow-padding-vertical: $arrow-padding-vertical-total / 2;

.reviews__arrow {
  width: 50%;
  border: solid $arrow-border-width $white-two;
  height: $arrow-height;
  padding: $arrow-padding-vertical 0;
  box-sizing: border-box;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-min-width) and (max-width: $desktop-min-width - 1) {
  .reviews {
    margin-left: -$margin-horizontal-tablet;
  }

  .reviews__wrapper {
    margin-left: $margin-horizontal-tablet;
  }
}

@media (min-width: $tablet-min-width) {
  .reviews {
    margin-top: 80px;
    margin-bottom: 60px;
    height: 457px;
    background-image: url("../../img/review@1x.jpg");
    background-repeat: no-repeat;
  }

  .reviews__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-top: 11px;

    // &::before {
    //   content: "";
    //   display: block;
    //   flex-basis: 100%;
    // }

    // & > * {
    //   margin: auto 0;
    // }
  }

  $ordered-list: header, write, comment, author, arrows;

  @include flex-order($ordered-list, $block: reviews);

  .reviews__arrows {
    width: 137px;
    justify-content: space-between;
    margin: auto 0;
  }

  .reviews__arrow {
    width: 50px;
    padding: 0;
    border: none;
    height: 100%;
    box-sizing: content-box;
  }

  .reviews__comment {
    margin: 65px 0 68px;
  }

  .reviews__write {
    width: 175px;
  }
}

@media (min-width: $desktop-min-width) {
  .reviews {
    margin-top: 90px;
    margin-bottom: 65px;
  }

  .reviews__comment {
    margin: 64px 0 49px;
  }
}
