@import "../var.scss";
@import "../utils.scss";

// .social {
//   display: flex;
//   justify-content: space-around;
// }

.social__list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

// .social__icon {
//   &:hover {
//     fill: $greeny-blue-two;
//   }
//   &:active {
//     fill: $greeny-blue-two;
//     opacity: 0.3;
//   }
// }

.social__item {
  margin: 0 20px;
}

.social__link {
  $social-networks: (
    twitter: (suffix: twitter, width: 23px, height: 20px),
    instagram: (suffix: insta, width: 22px, height: 21px),
    facebook: (suffix: fb, width: 15px, height: 28px),
  );

  text-decoration: none;

  // // @include before-icon-base();
  // @include insert-icon(before);

  // @each $network, $params in $social-networks {
  //   $icon-suffix: map-get($params, suffix);

  //   // &--#{$network}::before {
  //   //   width: map-get($params, width);
  //   //   height: map-get($params, height);
  //   //   background-image: url("../../img/icon-#{$icon-suffix}.svg");
  //   // }

  //   &--#{$network} {
  //     @include insert-icon(before,
  //       map-merge($params, (img: "../../img/icon-#{$icon-suffix}.svg"))
  //     );
  //   }
  // }
}
