@import "./var.scss";

@mixin vertically-aligned {
  display: flex;
  align-items: center;
}

@mixin shell() {
  // position: relative;
  display: inline-block;
  box-sizing: border-box;
  border-style: solid;
  border-width: $button-border-width;
  margin-right: 22px;

  @media (min-width: $tablet-min-width) {
    margin-right: 28px;
  }
}

@mixin selection-button-styles {
  @include vertically-aligned();

  &:hover &__shell {
    border-color: $seafoam-blue-two;
  }

  &:active &__shell {
    border-color: $light-grey;
  }
}
