@import "./var.scss";

* {
  margin: 0;
  padding: 0;

  border-width: 0;
  border-style: 0;
  border-color: 0;
  border-image: 0;

  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
