@import "./var.scss";

@mixin discard-page-horizontal-margins {
  margin-left: -$margin-horizontal-mobile;
  margin-right: -$margin-horizontal-mobile;

  @media (min-width: $tablet-min-width) {
    margin-left: -$margin-horizontal-tablet;
    margin-right: -$margin-horizontal-tablet;
  }
}

@mixin discard-horizontal-margins-but-desktop {
  @include discard-page-horizontal-margins();

  @media (min-width: $desktop-min-width) {
    margin-left: 0;
    margin-right: 0;
  }
}

@mixin insert-icon($side, $display: block) {
  &::#{$side} {
    content: "";
    display: $display;

    @content;
  }
}
