@import "./var.scss";

.visually-hidden {
  position:absolute;
  width:1px;
  height:1px;
  margin:-1px;
  border:0;
  padding:0;
  white-space:nowrap;
  -webkit-clip-path:inset(100%);
  clip-path:inset(100%);
  clip:rect(0 0 0 0);
  overflow:hidden
}

.mobile-hide, .desktop-show {
  display: none;
}

@media (min-width: $tablet-min-width) {
  .mobile-hide, .mobile-toggle {
    display: initial;
  }

  .mobile-show {
    display: none;
  }
}

@media (min-width: $desktop-min-width) {
  .desktop-show {
    display: initial;
  }
}
