// $desktop-standard-width: 1150px;
$fallback-family: serif;
$desktop-min-width: 1024px;
$tablet-min-width: 768px;
$mobile-max-width: $tablet-min-width - 1;
$mobile-width: 320px;
$mobile-min-width: 320px;
$desktop-maquette-width: 1150px;

$margin-horizontal-mobile: 30px;
$margin-horizontal-tablet: 50px;
$margin-horizontal-desktop: 50px;
$indent-horizontal-desktop: 16vw;
$indent-vertical-index-desktop: 63px;
// $menu-height-mobile: 79px;
$menu-second-line-height-tablet: 63px;
$menu-second-line-height-desktop: 65px;
$green-btn-height-tablet: 120px;

$button-border-width: 2px;

$radio-btn-height-mobile: 40px;
$radi0-btn-height: 53px;
$checkbox-height-mobile: 39px;
$checkbox-height: 52px;
$input-field-height: 52px;

$black: rgba(0, 0, 0, 1);
$black-60: rgba(0, 0, 0, 0.6);
$black-30: rgba(0, 0, 0, 0.3);
$black-44: #444444;
$black-10: rgba(0, 0, 0, 0.1);
$light-grey: #c8c8c8;
$very-dark-brown: #010000;

$white: #f1f1f1;
$white-two: #ececec;
$white-three: #ffffff;
$white-30: rgba(255, 255, 255, 0.3);

$seafoam-blue: #63d1bb;
$seafoam-blue-two: #62d1ba;
$greeny-blue: #56c3b2;
$greeny-blue-two: #46c1ae;
$delimiter-color: #ededed;
