@import "./var.scss";
@import "./utils.scss";

@mixin zig-zag-line($side: before) {
  @include insert-icon($side) {
    background: url("../../img/bg-zigzag-line.svg") repeat-x center/contain;
    height: calc(6px + (100vw - 320px) / 45);

    @include discard-horizontal-margins-but-desktop();
  }

  $double-desktop-margin: 2 * $margin-horizontal-desktop;
  $margin-share-beginning: $double-desktop-margin / $desktop-min-width;
  $margin-share-expanded: $double-desktop-margin / ($desktop-min-width + $double-desktop-margin);
  $share-average: (($margin-share-beginning + $margin-share-expanded) / 2) * 100;

  @media (min-width: $desktop-min-width) {
    &::#{$side} {
      height: calc(6px + (#{100 - $share-average}vw - 320px) / 45);
    }
  }

  @media (min-width: #{$desktop-min-width + 2 * $margin-horizontal-desktop}) {
    &::#{$side} {
      height: calc(6px + (100vw - 320px - #{2 * $margin-horizontal-desktop}) / 45);
    }
  }
}
